@{
    ViewData["Title"] = "Project Ticket Counts";
}
<!DOCTYPE html>
<html>

<h2>@Localizer["Count"]</h2>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            fetch('/Tickets/ProjectTicketCounts')
                .then(response => response.json())
                .then(data => {
                    var dataArray = [['Project', 'Tickets']];
                    data.forEach(item => {
                        dataArray.push([item.project, item.count]);
                    });

                    var data = google.visualization.arrayToDataTable(dataArray);

                    var options = {
                        showTextEvery: 1,
                        legend: {position: 'none'}
                    };

                    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

                    chart.draw(data, options);
                });
        }
                
    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    <div class="btn-group" role="group" aria-label="">
        <form action="@Url.Action("Create", "Tickets", new { culture = Context.Request.RouteValues["culture"] })" method="get" style="display: inline-block; margin-right: 20px;">
            <input type="submit" value=@Localizer["Create"] />
        </form>
        <form action="@Url.Action("Search", "Tickets", new { culture = Context.Request.RouteValues["culture"] })" method="get">
            <input type="submit" value=@Localizer["SearchTickets"] />
        </form>
    </div>
</body>
</html>
